body {
  background-color:#cce3de;
}

.game-board {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px;
  justify-content: center;
  margin: 50px;
}

.box {
  border: 1px solid black;
}

/* CARD FUNCTIONALITY  */
.containter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 3vh;
}

.card.outline {
  border: 0.15em dashed #de82f1;
}

.card.shadow {
  box-shadow: 7px 7px 7px 0 rgba(41, 41, 41, 0.95) !important;
}

.btn {
  margin-top: 2vh; 
  color: white; 
  background-color: #202d7a;
  font-weight: bold;
  border: 2px solid #202d7a;
}

#hidden {
  background-color: #cce3de;
  border: none;
}

.green{
  background-color: #6fcb6c;
} 
.yellow {
  background-color: #ebe6a7;
}
.blue { 
  background-color: #6f79b6;
}
.purple {
  background-color: #de82f1;
}
.red {
  background-color: #d86d6d;
}
.orange {
  background-color: #ef9f6d;
}

#winning-house {
  height: 210px;
  width: 140px; 
}