:root {
  --yellow-square: #ebe6a7;
  --orange-square: #ef9f6d;
  --red-square: #d86d6d;
  --purple-square: #de82f1;
  --blue-square: #6f79b6;
  --green-square: #6fcb6c;

}


.game-board {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px;
  justify-content: center;
  margin: 80px;
}

.box {
  border: 1px solid black;
}

#red {
  background-color: var(--red-square);
}

#purple {
  background-color: var(--purple-square);
}

#green {
  background-color: var(--green-square);
}

#yellow {
  background-color: var(--yellow-square)
}

#orange {
  background-color: var(--orange-square);
}

#blue {
  background-color: var(--blue-square);
}

/* CARD FUNCTIONALITY  */
.containter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 3vh;
}

.card.outline {
  border: 0.15em dashed #de82f1;
}

.card.shadow {
  box-shadow: 7px 7px 7px 0 rgba(41, 41, 41, 0.95) !important;
}

.btn {
  margin-top: 2vh; 
  color: white; 
  background-color: #202d7a;
  font-weight: bold;
  border: 2px solid #202d7a;
}

#hidden {
  background-color: white;
  border: none;
}
